.page-header
  %h1 Sign In

= form_for @identity, url: sign_in_path do |f|
  %p
    = f.label :uid, 'Email'
    = f.text_field :uid
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :remember, "Remember for #{@identity.remember_time.inspect}"
    = f.check_box :remember
  %p
    = f.submit 'Submit', class: 'btn'
