.page-header
  %h1= @post.title

- if current_user
  - if @post.admin_user_id == current_user.id
    = link_to 'Edit', [:edit, @post], class: 'btn'
    = link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}, class: 'btn'

.blog-content= @post.content

- if current_user
  %h3 Comment:
  = simple_form_for [@post, @comment] do |f|
    %p= f.input :content, as: :text

    %p= f.submit 'Submit', class: 'btn'

= render @post.comments
